<!-- <div class="grid">
    <app-benefit-card *ngFor="let b of beneficios"
                      [title]="b.title"
                      [days]="b.days"
                      (solicitar)="abrirModal(b)">
    </app-benefit-card>
</div>

<app-solicitud-modal [visible]="modalVisible"
                     [beneficio]="beneficioSeleccionado"
                     (cerrar)="cerrarModal()"
                     (confirmar)="enviarSolicitud($event)">
</app-solicitud-modal> Wilson -->

<div class="menu-lateral">
  <a>Beneficios</a>
  <a>Mis Solicitudes</a>
  <button>Aprobaciones</button>
</div>


